a {
  text-decoration: none;
  border: 1px solid green;
  color: rgb(82, 18, 184);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePage {
  border: 3px dashed orange;
  display: flex;

}

.sidebarContainer{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 1000px;
  border: 1px solid magenta;
  background: lavenderblush;
  color: grey;
}
button {
  background: rgb(46, 231, 231);
}
.NoteContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #becae2;
 border: 3px solid red;

}

.appContainer{
 border: 1px solid green;
}

.aNote{
  height: 200px;
  width: 200px;
  border: 1px solid blue;
  color: red;
}


